{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="col-md-6 col-sm-12 text-center">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Delete</h3>
                <p>本当に「{{object.title}}」を削除しますか?</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form method='POST' role="form" action="" class="login-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}