{% extends 'account/base.html' %}

{% block body%}

<scenter>
    <div class="text-center">
    <h1>{{ object.title }} <small>written by:
        </small><span>{{ object.author }}</span></h1>
    <class="subheading">{{ object.date_posted|date:'Y-m-d P'}}</p>
    <ul class="aboutul">
        <li> <i class="fa fa-check"></i>{{ object.content }}</li>
    </ul>
    <hr>
    <form action="{% url 'post-update' post.id %}">
        <button type="submit" class="btn btn-success slide">Update</button>
    </form>
    <br>
    <form action="{% url 'post-delete' post.id%}">
        <button type="submit" class="btn btn-danger slide">Delete</button>
    </form>
</div>
</senter>
{% endblock body%}