.patent_main h1{
  margin-left: 7%;
  margin-top: 4%;
  margin-bottom: 3%;
}
.patent-list{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 18px;
  width: 80%;
}
.patent-list li{
  margin-top: 2%;
  border-bottom: solid;
  padding-bottom: 10px;
}